pip~=24.3.1
attrs~=25.3.0
idna~=3.10
multidict~=6.4.3
propcache~=0.3.1
Django~=5.2
asgiref~=3.8.1
sqlparse~=0.5.3
aiogram~=3.19.0
typing_extensions~=4.13.2
pydantic~=2.10.6
aiofiles~=24.1.0
magic-filter~=1.0.12
certifi~=2025.1.31
aiohttp~=3.11.16
pydantic_core~=2.27.2
yarl~=1.19.0
aiosignal~=1.3.2
frozenlist~=1.5.0
aiohappyeyeballs~=2.6.1
annotated-types~=0.7.0